<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <h2>
    <ion-button slot='start' (click)="sendMsg()">Send Message</ion-button>
  </h2>

  <app-explore-container name="See this browser developer console for output/degug"></app-explore-container>
</ion-content>